<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tarotantula.taroreadnativeplugin">

    <application>
        <activity
            android:name="com.tarotantula.taroreadnativeplugin.GoogleSignInActivity"
            android:label="Taroread" />
    </application>

</manifest>
