.navigation {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}

.navigation li {
  margin: 1rem;
  list-style: none;
}

.avatar-container {
  /* Important to override MUI defaults */
  margin-left: auto !important;
}

.taroread-logo {
  max-height: 2rem;
}
